{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <img src="{{cat.image.url}}" height="500px" width="100%">
</div>

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">{{cat.name}}</span></h3>
						<p>{{cat.desc}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for i in pro %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{{i.image.url}}" height="250px" width="100%" alt=""></a>
						</div>
						<h3>{{i.name}}</h3>
<!--						<p>{{i.desc}}</p>-->
						<p class="product-price"><span>₹{{i.price}}</span></p>
<!--						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>-->
						<a href="{% url 'shop:detail' i.id %}" class="boxed-btn mt-4">Details</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
